.container {
    text-align: center;

      img {
        max-width: 250px;
        width: 200px;
        align-self: center;
        background-color: var(--provided-card-bg);
        border-radius: 20px;
        margin-bottom: 25px;
      }

      p {
        font-size: 16px;
        padding: 10px;
      }

  }
  
  .providedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px;
  }
  
  .providedCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Garantir que os cards ocupem 100% da largura disponível */
    padding: 0 30px; /* Espaco entre os cards e as bordas */
  }
  

  
  /* Responsividade para telas maiores que 800px */
  @media (min-width: 800px) {
    .providedContainer {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 30px; /* Ajuste o espaçamento entre os itens */
    }
  
    .providedCard {
      width: 23%; /* Ajuste a largura para 4 itens na linha */
      padding: 0;
    }

    .container {
        padding: 0 30px;
    }
  }
  